<div class="px-10 w-full">
  <div class="flex justify-between items-center my-4 w-full">
    <h1 class="text-xl font-medium text-gray-900">Extend trial for <%= @user.email %></h1>
  </div>

    <div class="overflow-scroll bg-white rounded-lg border border-gray-200 shadow-sm">
      <div class="p-4">
        <%= form_for(:custom_trial_end_date, url: "/users/#{@user.id}/custom_trial_end_dates", method: :patch) do |form| %>
          <div>
            <%= form.label 'Select new date', style: "display: block" %>
            <%= form.select :date, dates_to_extend_trial_options %>
          </div>
        <div class="py-4">
          <%= form.submit class: "primary-button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

