<div class="py-12 px-4 mx-auto">
  <div class="m-auto w-full lg:w-1/3">
    <div class="p-4 bg-white rounded-lg border border-gray-300 shadow-sm">
      <div class="mb-4 text-center">
        <h2 class="log-in-header">Account</h2>
      </div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <div class="mb-4 text-center text-red-800">
          <%= render "devise/shared/error_messages", resource: resource %>
        </div>

        <div class="field">
          <%= f.label :email, class: "form-label" %><br />
          <%= f.email_field(
            :email,
            autofocus: true,
            autocomplete: "email",
            class: "form-text-input"
          ) %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :password, class: "form-label" %>
          <i class="text-xs text-gray-500">
            (<%= @minimum_password_length %> chars minimum, leave blank if you don't want to change it)
          </i><br />
          <%= f.password_field(
            :password,
            autocomplete: "new-password",
            class: "form-text-input"
          ) %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, class: "form-label" %><br />
          <%= f.password_field(
            :password_confirmation,
            autocomplete: "new-password",
            class: "form-text-input"
          ) %>
        </div>

        <div class="field">
          <%= f.label :current_password, class: "form-label" %>
          <i class="text-xs text-gray-500">
            (we need this to confirm your changes)
          </i><br />
          <%= f.password_field(
            :current_password,
            autocomplete: "current-password",
            class: "form-text-input"
          ) %>
        </div>

        <div class="actions">
          <%= f.submit "Update", class: "log-in-button" %>
        </div>
      <% end %>



      <div class="flex justify-center w-full text-sm text-gray-500">
        Contact us if you wish to delete your account
      </div>
    </div>
  </div>
</div>
