<div class="flex py-12 sm:py-16 flex-col items-center px-4 w-full md:px-8 bg-white rounded-lg border border-gray-200 shadow-md view-height-minus-header mb-5">
  <h1 class="text-5xl font-bold text-gray-900 sm:text-center">Pricing Plans</h1>
  <p class="text-gray-500 sm:text-center text-xl mt-8">Put Listify to work for you with one of our subscription packages.</p>
  <div class="w-full flex justify-center">
    <div class="mt-12 sm:mt-16 grid grid-cols-1 gap-4 sm:gap-6 sm:grid-cols-2 lg:grid-cols-4">
      <% @plans.each do |plan| %>
        <div class="flex flex-col justify-start items-start w-64 h-full bg-white rounded-lg border border-gray-200 shadow-sm">
          <div class="flex flex-col p-6">
            <h5 class="text-lg leading-6 font-medium text-gray-900"><%= plan.name.capitalize %></h5>
            <p class="text-gray-500 text-sm mt-4">
              <%= tagline_for(plan.name) %>
            </p>
            <div class="flex items-end my-8">
              <h2 class="text-4xl font-extrabold text-gray-900"><%= formatted_amount(plan.amount, { unit: "£", precision: 0 }) %></h2>
              <div class="text-base font-medium text-gray-500">/<%= plan.interval %></div>
            </div>
            <%= link_to "Subscribe", new_subscription_path(plan_id: plan.id), class: "block w-full py-2 px-6 text-sm text-center text-white bg-blue-600 font-semibold cursor-pointer rounded-lg hover:bg-blue-700" %>
          </div>

          <div class="mb-4 w-full h-px bg-gray-200"></div>

          <ul class="p-6 space-y-4 text-gray-500 text-sm">
            <p class="mb-6 text-xs font-medium text-gray-900 tracking-wide uppercase">What's included</p>

            <%= render layout: 'pricing/benefit' do %>
              <p class="ml-2"><%= spin_count_for(plan.name) %> spins per month</p>
            <% end %>

            <% if seat_count_for(plan.name) > 1 %>
              <%= render layout: 'pricing/benefit' do %>
                <p class="ml-2">Up to <%= seat_count_for(plan.name) %> seats</p>
              <% end %>
            <% end %>

            <% if plan.name.downcase == "premium" %>
              <%= render layout: 'pricing/benefit' do %>
                <p class="ml-2">Early access to new models and features</p>
              <% end %>
            <% end %>

            <%= render layout: 'pricing/benefit' do %>
              <p class="ml-2">Technical support</p>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="flex flex-col justify-start items-start w-64 h-full bg-white rounded-lg border border-gray-200 shadow-sm">
        <div class="flex flex-col p-6">
          <h5 class="text-lg leading-6 font-medium text-gray-900">Enterprise</h5>
          <p class="text-gray-500 text-sm mt-4">
            <%= tagline_for("enterprise") %>
          </p>
          <div class="flex items-end my-8">
            <h2 class="text-4xl font-extrabold text-gray-900">Custom</h2>
          </div>
          <%= mail_to "hello@listify.ai", "Contact us", class: "block w-full py-2 px-6 text-sm text-center text-white bg-purple-700 font-semibold cursor-pointer rounded-lg hover:bg-purple-800" %>
        </div>

        <div class="mb-4 w-full h-px bg-gray-200"></div>

        <ul class="p-6 space-y-4 text-gray-500 text-sm">
          <p class="mb-6 text-xs font-medium text-gray-900 tracking-wide uppercase">What's included</p>

          <%= render layout: 'pricing/benefit' do %>
            <p class="ml-2">Customised models to match your requirements</p>
          <% end %>

          <%= render layout: 'pricing/benefit' do %>
            <p class="ml-2">Personalised product features</p>
          <% end %>

          <%= render layout: 'pricing/benefit' do %>
            <p class="ml-2">Custom spin cap</p>
          <% end %>

          <%= render layout: 'pricing/benefit' do %>
            <p class="ml-2">Unlimited seats</p>
          <% end %>

          <%= render layout: 'pricing/benefit' do %>
            <p class="ml-2">Premium technical support</p>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
