<div class="px-10 w-full">
  <div class="flex justify-between items-center mb-4 w-full">
    <h1 class="text-xl font-medium text-gray-900">Prompts</h1>
    <%= link_to 'Add Prompt', new_legacy_prompt_path, class: "add-button" %>
  </div>
  <div class="overflow-scroll bg-white rounded-lg border border-gray-200 shadow-sm">
    <table class="w-full divide-y divide-gray-200">
      <thead class="bg-gray-100">
        <tr class="text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
          <th class="py-3 px-6">Title</th>
          <th class="py-3 px-6">Active</th>
          <th class="py-3 px-6">Content</th>
          <th class="py-3 px-6">Stop</th>
          <th class="py-3 px-6">Temperature</th>
          <th class="py-3 px-6">Max tokens</th>
          <th class="py-3 px-6">Top p</th>
          <th class="py-3 px-6">Frequency penalty</th>
          <th class="py-3 px-6">Presence penalty</th>
        </tr>
      </thead>

      <tbody>
        <% @prompts.each do |prompt| %>
          <tr class="text-xs">
            <td class="py-3 px-6"><%= prompt.title %></td>
            <td class="py-3 px-6"><%= prompt.active %></td>
            <td class="py-3 px-6 whitespace-pre-wrap"><%= prompt.content %></td>
            <td class="py-3 px-6"><%= prompt.stop %></td>
            <td class="py-3 px-6"><%= prompt.temperature %></td>
            <td class="py-3 px-6"><%= prompt.max_tokens %></td>
            <td class="py-3 px-6"><%= prompt.top_p %></td>
            <td class="py-3 px-6"><%= prompt.frequency_penalty %></td>
            <td class="py-3 px-6"><%= prompt.presence_penalty %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br />
</div>

