<p id="notice"><%= notice %></p>
<div class="w-full px-8">
  <div class="w-full flex items-center justify-start">
    <h1 class="text-xl text-gray-900 font-medium my-4">Tasks</h1>
  </div>

  <% if @tasks.any? %>
    <div class="border border-gray-200 rounded-lg overflow-hidden">
      <table class="w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
          <tr class="text-xs text-gray-500 text-left uppercase font-medium tracking-wider">
            <th class="px-6 py-3">task_type</th>
            <th class="px-6 py-3">input_text</th>
            <th class="px-6 py-3">result_text</th>
            <th class="px-6 py-3">error</th>
            <th class="px-6 py-3">created_at</th>
          </tr>
        </thead>

        <tbody class="divide-y divide-gray-200">
          <% @tasks.each do |task| %>
            <tr class="text-xs">
              <td class="px-6 py-3"><%= task.task_type %></td>
              <td class="px-6 py-3"><%= task.input_text %></td>
              <td class="px-6 py-3"><%= task.result_text %></td>
              <td class="px-6 py-3"><%= task.error %></td>
              <td class="px-6 py-3"><%= task.created_at.strftime("%H:%M, %d %b") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <p>No tasks found.</p>
  <% end %>

  <br>

</div>

