<div class="px-10 w-full">
  <div class="flex justify-between items-center mb-4 w-full">
    <h1 class="text-xl font-medium text-gray-900">Task Runs</h1>
    <% if !params[:admin] %>
      <%= link_to "Not showing admins (tap to change)", task_runs_path(admin: true), class: "text-sm" %>
    <% else %>
      <%= link_to "Showing admins only (tap to change)", task_runs_path, class: "text-sm" %>
    <% end %>
  </div>
  <div class="overflow-scroll bg-white rounded-lg border border-gray-200 shadow-sm">
    <table class="w-full divide-y divide-gray-200">
      <thead class="bg-gray-100">
        <tr class="text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
          <th class="py-3 px-6">Request type</th>
          <th class="py-3 px-6">Input</th>
          <th class="py-3 px-6">Results</th>
          <th class="py-3 px-6">User</th>
          <th class="py-3 px-6">Created at</th>
        </tr>
      </thead>

      <tbody class="divide-y divide-gray-200">
        <% @task_runs.each do |task_run| %>
          <tr class="text-xs">
            <td class="py-3 px-6"><%= link_to task_run.input_object.request_type, task_run.prompt_set %></td>
            <td class="py-3 px-6 whitespace-pre-wrap"><%= displayable_input_text(task_run.input_object) %></td>
            <td class="py-3 px-6">
              <%= format_results(task_run.text_results, task_run.task_results, @prompts) %>
            </td>
            <td class="py-3 px-6"><%= task_run.user.email %></td>
            <td class="py-3 px-6"><%= format_table_date(task_run.created_at) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br />
  <%== pagy_nav(@pagy) %>
</div>
