<div class="w-full bg-gradient-to-b from-purple-700 to-blue-600 view-height-minus-header">
  <div class="py-32 px-4 mx-auto">
    <div class="m-auto w-full sm:w-1/2 lg:w-1/3">
      <div class="py-8 px-8 bg-white rounded border border-gray-300 shadow-sm">
        <div class="mb-4 text-center">
          <h2 class="log-in-header">Change your password</h2>
          <p class="py-2 text-gray-500">Enter your new password.</p>
        </div>

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <div class="mb-4 text-center text-red-800">
              <%= render "devise/shared/error_messages", resource: resource %>
            </div>
            <%= f.hidden_field :reset_password_token %>

            <div class="field">
              <%= f.label :password, "New password", class: "bold-form-label" %><br />
              <% if @minimum_password_length %>
                <i class="text-xs text-gray-500">
                  (<%= @minimum_password_length %> characters minimum)
                </i><br />
              <% end %>
              <%= f.password_field(
                :password,
                autofocus: true,
                autocomplete: "new-password",
                class: "form-text-input"
              )%>
            </div>

            <div class="field">
              <%= f.label :password_confirmation, "Confirm new password", class: "bold-form-label" %><br />
              <%= f.password_field(
                :password_confirmation,
                autocomplete: "new-password",
                class: "form-text-input"
              )%>
            </div>

            <div class="actions">
              <%= f.submit "Change my password", class: "log-in-button" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
