<div class="w-full bg-gradient-to-b from-purple-700 to-blue-600 view-height-minus-header">
  <div class="py-32 px-4 mx-auto">
    <div class="m-auto w-full sm:w-1/2 lg:w-1/3">
      <div class="py-8 px-8 bg-white rounded border border-gray-300 shadow-sm">
        <div class="mb-4 text-center">
          <h2 class="log-in-header">Reset password</h2>
          <p class="py-2 text-gray-500">Enter your email address.</p>
        </div>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <div class="mb-4 text-center text-red-800">
            <%= render "devise/shared/error_messages", resource: resource %>
          </div>

          <div class="field">
            <%= f.label :email, class: "bold-form-label" %><br />
            <%= f.email_field(
              :email,
              autofocus: true,
              autocomplete: "email",
              class: "form-text-input"
            )%>
          </div>

          <div class="actions">
            <%= f.submit "Send me reset password instructions", class: "log-in-button" %>
          </div>
        <% end %>

        <div class="flex justify-center w-full text-gray-500">
          <%= link_to "Don't have an account? Sign up", new_user_session_path %>
        </div>
      </div>
    </div>
  </div>
</div>
