<div class="pt-12 pb-5 w-full flex flex-col md:flex-row items-start">
  <div class="w-full pr-8 md:pr-0 pb-4 md:w-1/4 h-full">
    <div class="flex flex-col items-start pl-8">
      <%= link_to team_path(current_user.team), class: "#{screen == "team" ? "account-nav-active" : "account-nav-inactive"}" do %>
        <svg width="16" height="16" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M16 17H21V15C21 14.3765 20.8057 13.7686 20.4441 13.2606C20.0826 12.7527 19.5718 12.37 18.9827 12.1658C18.3937 11.9615 17.7556 11.9459 17.1573 12.121C16.5589 12.2962 16.03 12.6534 15.644 13.143M16 17H6M16 17V15C16 14.344 15.874 13.717 15.644 13.143M15.644 13.143C15.2726 12.215 14.6318 11.4195 13.804 10.8591C12.9762 10.2988 11.9996 9.9993 11 9.9993C10.0004 9.9993 9.02376 10.2988 8.196 10.8591C7.36825 11.4195 6.72736 12.215 6.356 13.143M6 17H1V15C1.00005 14.3765 1.19434 13.7686 1.55586 13.2606C1.91739 12.7527 2.42819 12.37 3.01725 12.1658C3.60632 11.9615 4.24438 11.9459 4.84274 12.121C5.4411 12.2962 5.97003 12.6534 6.356 13.143M6 17V15C6 14.344 6.126 13.717 6.356 13.143M14 4C14 4.79565 13.6839 5.55871 13.1213 6.12132C12.5587 6.68393 11.7956 7 11 7C10.2044 7 9.44129 6.68393 8.87868 6.12132C8.31607 5.55871 8 4.79565 8 4C8 3.20435 8.31607 2.44129 8.87868 1.87868C9.44129 1.31607 10.2044 1 11 1C11.7956 1 12.5587 1.31607 13.1213 1.87868C13.6839 2.44129 14 3.20435 14 4ZM20 7C20 7.53043 19.7893 8.03914 19.4142 8.41421C19.0391 8.78929 18.5304 9 18 9C17.4696 9 16.9609 8.78929 16.5858 8.41421C16.2107 8.03914 16 7.53043 16 7C16 6.46957 16.2107 5.96086 16.5858 5.58579C16.9609 5.21071 17.4696 5 18 5C18.5304 5 19.0391 5.21071 19.4142 5.58579C19.7893 5.96086 20 6.46957 20 7ZM6 7C6 7.53043 5.78929 8.03914 5.41421 8.41421C5.03914 8.78929 4.53043 9 4 9C3.46957 9 2.96086 8.78929 2.58579 8.41421C2.21071 8.03914 2 7.53043 2 7C2 6.46957 2.21071 5.96086 2.58579 5.58579C2.96086 5.21071 3.46957 5 4 5C4.53043 5 5.03914 5.21071 5.41421 5.58579C5.78929 5.96086 6 6.46957 6 7Z" stroke="#3F3F46" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <span class="ml-2">Team</span>
      <% end %>
      <%= link_to edit_account_path, class: "#{screen == "account" ? "account-nav-active" : "account-nav-inactive"}" do %>
        <svg width="16" height="16" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3.121 15.804C5.21942 14.6179 7.58958 13.9963 10 14C12.5 14 14.847 14.655 16.879 15.804M13 8C13 8.79565 12.6839 9.55871 12.1213 10.1213C11.5587 10.6839 10.7956 11 10 11C9.20435 11 8.44129 10.6839 7.87868 10.1213C7.31607 9.55871 7 8.79565 7 8C7 7.20435 7.31607 6.44129 7.87868 5.87868C8.44129 5.31607 9.20435 5 10 5C10.7956 5 11.5587 5.31607 12.1213 5.87868C12.6839 6.44129 13 7.20435 13 8ZM19 10C19 11.1819 18.7672 12.3522 18.3149 13.4442C17.8626 14.5361 17.1997 15.5282 16.364 16.364C15.5282 17.1997 14.5361 17.8626 13.4442 18.3149C12.3522 18.7672 11.1819 19 10 19C8.8181 19 7.64778 18.7672 6.55585 18.3149C5.46392 17.8626 4.47177 17.1997 3.63604 16.364C2.80031 15.5282 2.13738 14.5361 1.68508 13.4442C1.23279 12.3522 1 11.1819 1 10C1 7.61305 1.94821 5.32387 3.63604 3.63604C5.32387 1.94821 7.61305 1 10 1C12.3869 1 14.6761 1.94821 16.364 3.63604C18.0518 5.32387 19 7.61305 19 10Z" stroke="#3F3F46" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <span class="ml-2">Account</span>
      <% end %>
      <%= link_to subscription_path, class: "#{screen == "billing" ? "account-nav-active" : "account-nav-inactive"}" do %>
        <svg width="16" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 6H19M5 11H6M10 11H11M4 15H16C16.7956 15 17.5587 14.6839 18.1213 14.1213C18.6839 13.5587 19 12.7956 19 12V4C19 3.20435 18.6839 2.44129 18.1213 1.87868C17.5587 1.31607 16.7956 1 16 1H4C3.20435 1 2.44129 1.31607 1.87868 1.87868C1.31607 2.44129 1 3.20435 1 4V12C1 12.7956 1.31607 13.5587 1.87868 14.1213C2.44129 14.6839 3.20435 15 4 15Z" stroke="#3F3F46" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <span class="ml-2">Billing</span>
      <% end %>
      <% if !current_user.team.present? %>
        <%= link_to usage_path, class: "#{screen == "usage" ? "account-nav-active" : "account-nav-inactive"}" do %>
          <svg width="15" height="15" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13 5V13M9 8V13M5 11V13M3 17H15C15.5304 17 16.0391 16.7893 16.4142 16.4142C16.7893 16.0391 17 15.5304 17 15V3C17 2.46957 16.7893 1.96086 16.4142 1.58579C16.0391 1.21071 15.5304 1 15 1H3C2.46957 1 1.96086 1.21071 1.58579 1.58579C1.21071 1.96086 1 2.46957 1 3V15C1 15.5304 1.21071 16.0391 1.58579 16.4142C1.96086 16.7893 2.46957 17 3 17Z" stroke="#3F3F46" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <span class="ml-2">Usage</span>
        <% end %>
      <% end %>

      <% if module_enabled?('shortcuts') %>
        <%= link_to text_shortcuts_path, class: "#{screen == "text_shortcuts" ? "account-nav-active" : "account-nav-inactive"}" do %>
          <svg width="14" height="14" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 1L16 8L9 15M1 1L8 8L1 15" stroke="#3F3F46" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <span class="ml-2">Shortcuts</span>
        <% end %>
      <% end %>

      <%= link_to destroy_user_session_path, method: :delete, class: "w-full mt-1 flex items-center px-3 py-2 text-sm leading-5 font-medium text-gray-400 rounded-md hover:text-gray-900 hover:bg-gray-200 focus:outline-none focus:bg-gray-100 transition ease-in-out duration-150" do %>
        <svg width="16" height="16" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15 13L19 9M19 9L15 5M19 9H5M11 13V14C11 14.7956 10.6839 15.5587 10.1213 16.1213C9.55871 16.6839 8.79565 17 8 17H4C3.20435 17 2.44129 16.6839 1.87868 16.1213C1.31607 15.5587 1 14.7956 1 14V4C1 3.20435 1.31607 2.44129 1.87868 1.87868C2.44129 1.31607 3.20435 1 4 1H8C8.79565 1 9.55871 1.31607 10.1213 1.87868C10.6839 2.44129 11 3.20435 11 4V5" stroke="#9CA3AF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
       <span class="ml-2">Sign out</span>
      <% end %>
    </div>
  </div>

  <%= yield %>
</div>


