<div class="absolute top-0 left-0 w-full">
  <nav class="bg-gradient-to-r from-purple-700 to-purple-500">
    <div class="px-4 mx-auto sm:px-6 lg:px-8">
      <div class="flex justify-between items-center h-16">
        <div class="flex items-center">
          <div class="flex justify-center items-center mx-2 w-7 h-7 bg-white rounded-full border border-gray-700 shadow-sm">
            <div class="flex-shrink-0 mx-2">
              <i class="text-md fas fa-shield-virus"></i>
            </div>
          </div>

          <div>
            <a
              href="/"
              class="text-2xl font-semibold tracking-wider text-white">
              Minotaur AI
            </a>
          </div>
         <div class="hidden md:block">
            <div class="flex items-baseline ml-24 space-x-4">
              <% if user_signed_in? %>
                <%#<a href="/" class="py-2 px-3 text-sm font-medium text-gray-300 rounded-md hover:text-white hover:bg-gray-700">Home</a>%>
              <% end %>
            </div>
          </div>
        </div>

        <% if user_signed_in? %>
          <div class="hidden md:block">
            <div class="flex items-center ml-4 md:ml-6">
              <% if current_user.admin? %>
                <%= link_to "Pricing", pricing_path, { class: "p-1 text-white focus:outline-none" } unless current_user.subscribed? %>
                <%= link_to "Admin", admin_index_path, { class: "p-1 text-white focus:outline-none" } %>
                <span class="mx-1 text-gray-100"> | </span>
              <% end %>
              <%= link_to "Account", edit_user_registration_path, { class: "p-1 text-white focus:outline-none" } %>
              <span class="mx-1 text-gray-100"> | </span>
              <%= link_to "Sign out", destroy_user_session_path, { method: :delete, class: "p-1 text-white focus:outline-none" } %>
            </div>
          </div>
          <div class="flex -mr-2 md:hidden">
            <%= react_component "common/MobileMenu", { admin: current_user.admin? } %>
          </div>
        <% end %>
      </div>
    </div>
  </nav>
</div>
