<div class="sticky top-0 left-0 z-20 w-full bg-white bg-opacity-30 border-b border-gray-200 backdrop-filter backdrop-blur-lg firefox-no-opacity">
  <nav class="">
    <div class="px-4 mx-auto sm:px-6 lg:px-8">
      <div class="flex justify-between items-center h-16">
        <div class="flex items-center">
          <div class="flex justify-center items-center w-7 h-7 bg-transparent border-gray-700 shadow-sm">
            <div class="flex-shrink-0 mx-2">
              <svg width="18" height="28" viewBox="0 0 18 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.5097 20.6879C16.6078 20.6879 17.4981 21.5781 17.4981 22.6763L17.4981 25.7334C17.4981 26.8316 16.6078 27.7218 15.5097 27.7218H1.98838C0.890225 27.7218 0 26.8316 0 25.7334V2.86704C0 1.76889 0.890228 0.878662 1.98838 0.878662H14.8873C16.4314 0.878662 17.3863 2.56192 16.594 3.88728L8.34928 17.6793C7.55699 19.0047 8.51185 20.6879 10.056 20.6879H15.5097Z" fill="url(#paint0_linear_4_385)"/>
                <defs>
                  <linearGradient id="paint0_linear_4_385" x1="-0.503903" y1="0.878661" x2="17.17" y2="27.0892" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#6D28D9"/>
                    <stop offset="0.973958" stop-color="#2563EB"/>
                  </linearGradient>
                </defs>
              </svg>
            </div>
          </div>

          <div>
            <a
              href="/"
              class="text-3xl font-semibold tracking-wider text-grey-900">
              Listify
            </a>
          </div>
        </div>

        <% if user_signed_in? %>
          <div class="hidden md:block">
            <div class="flex items-center ml-4 space-x-4 md:ml-6">
              <%= render partial: 'shared/nav_link', locals: { name: "App", route: new_listing_path } %>

              <% if current_user.admin? %>
                <%= render partial: 'shared/nav_link', locals: { name: "Admin", route: admin_index_path } %>
              <% end %>

              <% if !current_user.account_links_hidden? %>
                <%= render partial: 'shared/nav_link', locals: { name: "Account", route: edit_account_path } %>
                <%= render partial: 'shared/nav_link', locals: { name: "History", route: history_path } %>
              <% end %>

              <% if current_user.subscribed? || current_user.member_of_team? %>
                <%= link_to "Sign out", destroy_user_session_path, { method: :delete, class: "p-1 focus:outline-none text-gray-400" } %>
              <% else %>
                <%= link_to "Subscribe", pricing_path, class: "primary-button" %>
              <% end %>

            </div>
          </div>
          <div class="flex -mr-2 md:hidden">
            <%= react_component "common/MobileMenu", {
              subscribed: current_user.subscribed?,
              memberOfTeam: current_user.member_of_team?,
              accountLinksHidden: current_user.account_links_hidden?,
              admin: current_user.admin?
            } %>
          </div>
        <% else %>
          <% if request.path == "/users/sign_in" %>
            <%= link_to "Sign Up",  new_user_registration_path, { class: "py-2 px-4 font-medium tracking-wide text-sm text-white bg-blue-600 rounded shadow-sm hover:bg-blue-700" } %>
          <% else %>
            <%= link_to "Sign In",  new_user_session_path, { class: "py-2 px-4 font-medium tracking-wide text-sm text-white bg-blue-600 rounded shadow-sm hover:bg-blue-700" } %>
          <% end %>
        <% end %>
      </div>
    </div>
  </nav>
</div>
