<div class="flex flex-col items-start px-8">
  <% if current_user.admin? %>
    <p>You are signed in as an admin.</p>
    <br />
  <% end %>
  <ol type="1" class="list-decimal list-inside">
    <li><%= link_to "Create a property listing", new_listing_path %></li>
    <li><%= link_to "Tidy grammar", new_writing_path %></li>
    <li><%= link_to "View task runs (web app requests)", task_runs_path %></li>
    <li><%= link_to "View feedback (web app requests)", task_run_feedbacks_path %></li>
    <li><%= link_to "Manage prompt sets", prompt_sets_path %></li>
    <li><%= link_to "View legacy task runs (chrome extension)", legacy_task_runs_path %></li>
    <li><%= link_to "Manage legacy prompts (chrome extension)", legacy_prompts_path %></li>
    <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
  </ol>
</div>
