<div class="px-10 w-full">
  <div class="flex justify-between items-center mb-4 w-full">
    <h1 class="text-xl font-medium text-gray-900">Prompt Sets</h1>
    <%= link_to 'New Prompt Set', new_prompt_set_path, class: "add-button" %>
  </div>
  <div class="overflow-scroll bg-white rounded-lg border border-gray-200 shadow-sm">
    <table class="w-full divide-y divide-gray-200">
      <thead class="bg-gray-100">
        <tr class="text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
          <th class="py-3 px-6">Called by (request type)</th>
          <th class="py-3 px-6">Title</th>
          <th class="py-3 px-6">Prompts</th>
          <th colspan="3">Options</th>
        </tr>
      </thead>

      <tbody>
        <% @prompt_sets.each do |prompt_set| %>
          <tr class="text-xs">
            <td class="py-3 px-6"><%= prompt_set.request_type %></td>
            <td class="py-3 px-6"><%= prompt_set.title %></td>
            <td class="py-3 px-6"><%= prompt_set.prompts.count %></td>
            <td>
              <%= link_to 'Show', prompt_set %> |
              <%= link_to 'Edit', edit_prompt_set_path(prompt_set) %> |
              <%= link_to 'Destroy', prompt_set, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br />
</div>

