<%= render layout: 'shared/account_layout', locals: { screen: "billing" } do %>
  <div class="w-full px-8">
    <div class="p-8 bg-white w-full max-w-6xl rounded-lg border border-gray-300 shadow-sm">
      <div class="mb-8">
        <h2 class="log-in-header">Company Information</h2>
        <div class="my-4 w-full h-px bg-gray-200"></div>
      </div>

      <div class="w-full md:w-2/3">
        <%= form_for(:customer, url: customer_path, method: :put) do |f| %>

          <div class="field">
            <%= f.label :name, "Company name", value: @customer.name, class: "form-label" %><br />
            <%= f.text_field(
              :name,
              class: "form-text-input"
            ) %>
          </div>

          <div class="field">
            <%= f.label :line1, 'Line one', value: @customer.line1, class: "form-label" %><br />
            <%= f.text_field(
              :line1,
              class: "form-text-input"
            ) %>
          </div>

          <div class="field">
            <%= f.label :line2, 'Line two', value: @customer.line2, class: "form-label" %><br />
            <%= f.text_field(
              :line2,
              class: "form-text-input"
            ) %>
          </div>

          <div class="field">
            <%= f.label :city, 'City', value: @customer.city, class: "form-label" %><br />
            <%= f.text_field(
              :city,
              class: "form-text-input"
            ) %>
          </div>
          <div class="field">
            <%= f.label :state, 'State', value: @customer.state, class: "form-label" %><br />
            <%= f.text_field(
              :state,
              class: "form-text-input"
            ) %>
          </div>
          <div class="field">
            <%= f.label :country, 'Country', value: @customer.country, class: "form-label" %><br />
            <%= f.text_field(
              :country,
              class: "form-text-input"
            ) %>
          </div>

          <div class="field">
            <%= f.label :postal_code, 'Postal Code', value: @customer.postal_code, class: "form-label" %><br />
            <%= f.text_field(
              :postal_code,
              class: "form-text-input"
            ) %>
          </div>

          <div class="actions pt-2">
            <%= f.submit "Update", class: "primary-button" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

