<div class="px-10 w-full">
  <div class="flex justify-between items-center mb-4 w-full">
    <h1 class="text-xl font-medium text-gray-900">Accounts & Usages</h1>
  </div>
  <div class="overflow-scroll bg-white rounded-lg border border-gray-200 shadow-sm">
    <table class="w-full divide-y divide-gray-200">
      <thead class="bg-gray-100">
        <tr class="text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
          <th class="py-3 px-6">Id</th>
          <th class="py-3 px-6">Email</th>
          <th class="py-3 px-6">Created at</th>
          <th class="py-3 px-6">Spins this month</th>
          <th class="py-3 px-6">Spin quota</th>
          <th class="py-3 px-6">Results total</th>
        </tr>
      </thead>

      <tbody class="divide-y divide-gray-200">
        <% @users_with_stats.each do |user| %>
          <tr class="text-xs">
            <td class="py-3 px-6"><%= user.id %></td>
            <td class="py-3 px-6"><%= user.email %></td>
            <td class="py-3 px-6"><%= format_table_date(user.created_at) %></td>
            <td class="py-3 px-6"><%= user.spins_this_month %></td>
            <td class="py-3 px-6"><%= user.monthly_spin_quota %></td>
            <td class="py-3 px-6"></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br />
</div>

