<div class="px-10 w-full">
  <%= render partial: 'admin/shared/users_nav', locals: { active: 'trials' } %>

  <div class="flex justify-between items-center my-4 w-full">
    <h1 class="text-xl font-medium text-gray-900">Trial users</h1>

    <div class="flex">
      <%= search_form_for(@q, url: admin_trials_path , method: :get) do |f| %>
        <%= f.label :email_cont, "Find user in table:", class: "form-label" %>
        <%= f.search_field :email_cont, class: "form-inline-field" %>

        <%= f.submit name: '', class: "my-4 add-button" %>
      <% end %>
    </div>
  </div>

  <div class="overflow-scroll bg-white rounded-lg border border-gray-200 shadow-sm">
    <table class="w-full divide-y divide-gray-200">
      <thead class="bg-gray-100">
        <tr class="text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
          <th class="py-3 px-6">Created at</th>
          <th class="py-3 px-6">Email</th>
          <th class="py-3 px-6">Spins during trial</th>
          <th class="py-3 px-6">Spin quota</th>
          <th class="py-3 px-6">Account status</th>
          <th class="py-3 px-6">Trial end</th>
          <th class="py-3 px-6">Actions</th>
        </tr>
      </thead>

      <tbody class="divide-y divide-gray-200">
        <% @users.each do |user| %>
          <tr class="text-xs">
            <td class="py-3 px-6"><%= format_table_date(user.created_at) %></td>
            <td class="py-3 px-6"><%= user.email %></td>
            <td class="py-3 px-6"><%= user.spins_used_in_current_period %></td>
            <td class="py-3 px-6"><%= user.spin_quota %></td>
            <td class="py-3 px-6"><%= format_trial_status(user.account_status) %></td>
            <td class="py-3 px-6"><%= format_trial_end_date(user.trial_end_date) %></td>
            <td class="py-3 px-6">
              <%= render partial: 'admin/shared/user_actions', locals: { user: user } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br />
  <div class="px-4 flex justify-between items-center text-sm">
    <%== pagy_nav(@pagy) %>
    <%== pagy_info(@pagy) %>
  </div>
</div>
