<h5 class="my-4 text-xl font-medium">Payment history</h5>

<% if billed_user.charges.any? %>
<p class="text-gray-500 mb-4">Thank you for being a Listify subscriber.</p>
  <div class="overflow-scroll bg-white rounded-lg border border-gray-200 shadow-sm">
    <table class="w-full divide-y divide-gray-200">
      <thead class="bg-gray-100">
        <tr class="text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
          <th class="py-3 px-6">Date</th>
          <th class="py-3 px-6">Card</th>
          <th class="py-3 px-6">Amount</th>
          <th class="py-3 px-6">Invoice</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <% billed_user.charges.order(created_at: :desc).each do |charge| %>
          <tr class="text-xs">
            <td class="py-3 px-6"><%= charge.created_at.to_date.to_s(:long) %></td>
            <td class="py-3 px-6"><%= charge.card_brand %> ending in <%= charge.card_last4 %></td>
            <td class="py-3 px-6"><%= formatted_amount(charge.amount) %></td>
            <td class="py-3 px-6"><%= link_to "Download", charge_path(charge, format: :pdf), class: "secondary-link", target: :_blank %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  No invoices to display.
<% end %>

