<div class="flex flex-col items-start px-4">
  <div class="flex justify-center pt-8 w-full h-full bg-gray-50">
    <div class="flex flex-col items-center w-full max-w-4xl bg-white rounded-lg border border-gray-200 shadow-md lg:w-4/5">
      <div class="p-8 w-full h-full">

        <h2 class="log-in-header">Subscribe</h2>
        <div class="mt-4 mb-8 w-full h-px bg-gray-200"></div>
        <p class="text-gray-500 mb-8">Thank you for choosing a <span class="font-semibold text-gray-900"><%= @plan.name.capitalize %></span> subscription. Enter your card details to set up your account.</p>

        <div class="flex flex-col md:flex-row md:items-start w-full">

          <% if current_user.card_last4? %>
            <%= form_with url: subscription_path, local: true, id: "existing-card", class: "w-full" do |form| %>
              <p class="font-semibold text-gray-900 mb-4">Your subscription will be charged to your existing card:</p>
              <div class="my-4">
                <%= render partial: 'cards/preview' %>
                <%= link_to "Use a new card", "#", id: "use-new-card", class: "secondary-link" %>
              </div>

              <%= form.hidden_field :plan_id, value: @plan.id %>
              <%= form.hidden_field :plan_amount, value: @plan.amount, id: 'plan-amount' %>

              <%= render partial: 'cards/input_submit', locals: { form: form, submit_text: "Subscribe" } %>
              <p class="mt-8 text-xs text-gray-500">
                On clicking subscribe, your card will be charged
                <span class="font-semibold text-gray-900"><span class="vat_notice"></span></span>
               now, and on the same date each month while your subscription is active. You can cancel at any time.
              </p>

            <% end %>
          <% end %>

         <%#appears if no card or use new card button clicked %>
          <%= form_with url: subscription_path, local: true, id: "payment-form", class: "w-full #{current_user.card_last4 ? "hidden" : "" }" do |form| %>
            <div class="flex flex-col flex-grow justify-start w-3/4">
              <%= form.hidden_field :plan_id, value: @plan.id %>
              <%= form.hidden_field :plan_amount, value: @plan.amount, id: 'plan-amount' %>
              <label class="text-sm bold-form-label">Country</label>
              <%= country_select("user", "country", { priority_countries: ["GB"], selected: "GB" }, { class: 'payment-field text-sm mb-4' }) %>
              <%= render partial: 'cards/input_fields', locals: { form: form } %>
              <%= render partial: 'cards/input_submit', locals: { form: form, submit_text: "Subscribe" } %>
              <p class="mt-8 text-xs text-gray-500">
                On clicking subscribe, your card will be charged
                <span class="font-semibold text-gray-900"><span class="vat_notice"></span></span>
               now, and on the same date each month while your subscription is active. You can cancel at any time.
              </p>
            </div>
          <% end %>

          <div class="mt-4 md:mt-0 w-1/2">
            <%= render partial: 'pricing/plan_card', locals: { plan: @plan, button_action: "none" } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

