<div class="flex flex-col items-start px-4 md:px-8">
  <div class="flex justify-center pt-8 w-full h-full bg-gray-50">
    <div class="flex flex-col items-center w-full max-w-4xl bg-white rounded-lg border border-gray-200 shadow-md md:w-4/5">
      <div class="p-12 w-full h-full leading-loose text-center md:text-left">

        <h1 class="mb-4 text-2xl font-medium tracking-wide">Subscribe</h1>

        <div class="flex items-start w-full">
          <% if current_user.card_last4? %>
            <%= form_with url: subscription_path, local: true, id: "existing-card", class: "w-1/2" do |form| %>

              <div>
                <div><%= current_user.card_brand %> ending in <%= current_user.card_last4 %></div>
                <div>Expires <%= current_user.card_exp_month %> / <%= current_user.card_exp_year %></div>
                <%= link_to "Use a new card", "#", id: "use-new-card", class: "secondary-link" %>
              </div>

              <%= form.hidden_field :plan_id, value: @plan.id %>
              <%= form.submit "Subscribe", class: "primary-button" %>
            <% end %>
          <% end %>

          <%= form_with url: subscription_path, local: true, id: "payment-form", class: "w-2/3 #{current_user.card_last4 ? "hidden" : "" }" do |form| %>
            <div class="flex flex-col flex-grow justify-start w-full">
              <label for="card-element">Credit or debit card</label>
              <div id="card-element" class="payment-field">
              </div>
              <div id="card-errors" role="alert">
              </div>

              <div class="flex flex-col my-4 w-full">
                <label>Name on Card</label>
                <%= form.text_field :name_on_card, id: "name_on_card", placeholder: "Full Name", class: "payment-field text-sm" %>
              </div>

              <%= form.hidden_field :plan_id, value: @plan.id %>
              <div class="w-full">
                <%= form.submit "Subscribe", class: "primary-button" %>
              </div>
            </div>
          <% end %>
          <div class="flex flex-col justify-center items-center w-1/3">
            <h5><%= @plan.name %></h5>
            <h2><%= formatted_amount(@plan.amount) %></h2>
            <p class="text-xs">per <%= @plan.interval %></p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

