<%= render layout: 'shared/account_layout', locals: { screen: "billing" } do %>

  <div class="w-full px-8">
    <div class="p-8 bg-white w-full max-w-6xl rounded-lg border border-gray-300 shadow-sm">
      <div class="w-full">
        <h2 class="log-in-header">Billing</h2>
        <div class="mt-4 mb-8 w-full h-px bg-gray-200"></div>

        <% if current_user.member_of_team? && @subscription.nil? %>
          <p class="mb-8">You are using Listify as part of the <span class="font-semibold"><%= current_user.team.name %></span> team - contact your team admin (or us, if that's you!) to talk about your subscription.</p>
        <% else %>
          <h5 class="mb-4 text-xl font-medium">Subscription</h5>

          <% if @subscription.nil? %>
            <p class="mb-8">You do not have a subscription set up.</p>
            <%= link_to "Subscribe", pricing_path, class: "primary-button" %>

          <% elsif @subscription && @subscription.on_trial? %>
            <p class="mb-8">You are trialing the <strong><%= subscription_plan_from_id(@subscription.stripe_plan) %></strong> plan.</p>
            <p><%= link_to "Change plan", edit_subscription_path, class:"secondary-link" %></p>

          <% elsif @subscription && @subscription.on_grace_period? %>
            <p class="mb-8">Your subscription has been cancelled. You have access until <%= @subscription.ends_at.to_date.to_s(:long) %>.</p>
            <p><%= link_to "Resume subscription", resume_subscription_path, method: :patch, class: "primary-button" %></p>

          <% elsif @subscription && @subscription.active? %>
            <p class="mb-4">You are subscribed to the <strong><%= @plan.name.capitalize %></strong> plan.</p>
            <p><%= link_to "Change plan", edit_subscription_path, class: "secondary-link" %></p>

          <% else %>
            <p class="mb-8">You do not have a subscription set up.</p>
            <%= link_to "Subscribe", pricing_path, class: "primary-button" %>
          <% end %>


          <% if @subscription.present? %>
            <% if @subscription.active? && !@subscription.on_grace_period? %>
              <%= link_to "Cancel subscription", subscription_path, method: :delete, class: "text-sm text-red-800", data: { confirm: "Are you sure you want to cancel?" } %>
            <% end %>

            <div class="my-8 w-full h-px bg-gray-200"></div>
            <h5 class="my-4 text-xl font-medium">Card</h5>
            <% if current_user.card_last4? %>
              <%= render partial: 'cards/preview' %>
              <%= link_to "Update your card", edit_card_path, class: "secondary-link" %>
            <% else %>
              <p>No card on file.</p>
              <%= link_to "Add card", edit_card_path, class: "secondary-link" %>
            <% end %>

            <div class="my-8 w-full h-px bg-gray-200"></div>
            <h5 class="my-4 text-xl font-medium">Payment history</h5>

            <% if current_user.charges.any? %>
            <p class="text-gray-500 mb-4">Thank you for being a Listify subscriber.</p>
              <div class="overflow-scroll bg-white rounded-lg border border-gray-200 shadow-sm">
                <table class="w-full divide-y divide-gray-200">
                  <thead class="bg-gray-100">
                    <tr class="text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                      <th class="py-3 px-6">Date</th>
                      <th class="py-3 px-6">Card</th>
                      <th class="py-3 px-6">Amount</th>
                      <th class="py-3 px-6">Receipt</th>
                    </tr>
                  </thead>
                  <tbody class="divide-y divide-gray-200">
                    <% current_user.charges.order(created_at: :desc).each do |charge| %>
                      <tr class="text-xs">
                        <td class="py-3 px-6"><%= charge.created_at.to_date.to_s(:long) %></td>
                        <td class="py-3 px-6"><%= charge.card_brand %> ending in <%= charge.card_last4 %></td>
                        <td class="py-3 px-6"><%= formatted_amount(charge.amount) %></td>
                        <td class="py-3 px-6"><%= link_to "Download", charge_path(charge, format: :pdf), class: "secondary-link", target: :_blank %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            <% else %>
              No invoices to display.
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
