<div class="flex flex-col items-start px-4 md:px-8">
  <% if current_user.admin? %>
    <p>You are signed in as an admin. Links: </p>
    <br />
    <ol type="1" class="list-decimal list-inside">
      <li><%= link_to "Create a property listing", new_listing_path %></li>
      <li><%= link_to "Test prompt in playground", new_playground_attempt_path %></li>
      <li><%= link_to "View Completions", admin_recorded_completions_path %></li>
      <li><%= link_to "View task runs", task_runs_path %></li>
      <li><%= link_to "View location searches", recorded_searches_path %></li>
      <li><%= link_to "View statistics", admin_statistics_path %></li>
      <li><%= link_to "Manage prompt sets", prompt_sets_path %></li>
      <li><%= link_to "Manage Example sets", admin_examples_path %></li>
      <li><%= link_to 'Export CSV (temp)', admin_data_exports_path(format: "csv") %></li>
    </ol>
  <% end %>
</div>
