<div class="flex flex-col items-start px-4">
  <div class="flex justify-center pt-8 w-full h-full bg-gray-50">
    <div class="flex flex-col items-center w-full max-w-4xl bg-white rounded-lg border border-gray-200 shadow-md lg:w-4/5">
      <div class="p-8 w-full h-full">
        <% if @payment_intent.status == "succeeded" %>
          <h1 class="log-in-header">Payment successful</h1>
          <div class="mt-4 mb-8 w-full h-px bg-gray-200"></div>
          <p>This payment was already successfully confirmed.</p>
        <% elsif @payment_intent.status == "canceled" %>
          <h1 class="log-in-header">Payment cancelled</h1>
          <div class="mt-4 mb-8 w-full h-px bg-gray-200"></div>
          <p>This payment was cancelled.</p>
        <% else %>
          <h1 class="log-in-header">
            Confirm your <%= formatted_amount(@payment_intent.amount) %> payment
          </h1>
          <div class="mt-4 mb-8 w-full h-px bg-gray-200"></div>
          <p class="mb-4">
            Extra confirmation is needed to process your payment. Instructions from your payment provider should appear automatically.
          </p>

          <%= form_with url: payment_path(@payment_intent.id), method: :patch, local: true, id: "payment-form", data: { payment_intent: @payment_intent.client_secret, status: @payment_intent.status } do |form| %>
            <%= tag.div id: "card-details", class: ("hidden" if @payment_intent.status == "requires_action") do %>
              <%= render partial: 'cards/input_fields', locals: { form: form } %>
              <%= render partial: 'cards/input_submit', locals: { form: form, submit_text: "Pay #{formatted_amount(@payment_intent.amount)}" } %>
            <% end %>
          <% end %>
        <% end %>
        <div class="mt-4">
          <%= link_to "Go back", root_path, class: "secondary-link" %>
        </div>
      </div>
    </div>
  </div>
</div>
