<div class="flex flex-col items-start px-4">
  <div class="flex justify-center pt-8 w-full h-full bg-gray-50">
    <div class="flex flex-col items-center w-full max-w-4xl bg-white rounded-lg border border-gray-200 shadow-md lg:w-4/5">
      <div class="p-8 w-full h-full">
        <% if @payment_intent.status == "succeeded" %>
          <h1 class="log-in-header">Payment successful</h1>
          <div class="mt-4 mb-8 w-full h-px bg-gray-200"></div>
          <p>This payment was already successfully confirmed.</p>
        <% elsif @payment_intent.status == "canceled" %>
          <h1 class="log-in-header">Payment cancelled</h1>
          <div class="mt-4 mb-8 w-full h-px bg-gray-200"></div>
          <p>This payment was cancelled.</p>
        <% else %>
          <h1 class="log-in-header">
            Confirm your <%= formatted_amount(@payment_intent.amount) %> payment
          </h1>
          <div class="mt-4 mb-8 w-full h-px bg-gray-200"></div>
          <p class="mb-4">
            Extra confirmation is needed to process your payment.
          </p>

          <%= form_with url: payment_path(@payment_intent.id), method: :patch, local: true, id: "payment-form", data: { payment_intent: @payment_intent.client_secret, status: @payment_intent.status } do |form| %>
            <%= tag.div id: "card-details", class: ("hidden" if @payment_intent.status == "requires_action") do %>

              <label for="card-element" class="bold-form-label text-sm">Credit or debit card</label>
              <div id="card-element" class="payment-field"></div>


              <div class="flex flex-col my-4 w-full">
                <label class="bold-form-label text-sm">Name on Card</label>
                <%= form.text_field :name_on_card, id: "name_on_card", placeholder: "Full Name", class: "payment-field text-sm", required: true %>
              </div>

              <div id="card-errors" role="alert" class="text-red-700 mb-4"></div>

              <div id="submit-loading" class="flex hidden justify-start items-center px-2 w-full">
                <p class="text-gray-500 mr-4">Processing...</p>
                <div class="w-4 h-4 rounded-full border-t-2 border-b-2 border-blue-600 animate-spin"></div>
              </div>

              <div id="submit-container" class="w-full">
                <%= form.submit "Pay #{formatted_amount(@payment_intent.amount)}", class: "primary-button" %>
              </div>
            <% end %>
          <% end %>
        <% end %>
        <div class="mt-4">
          <%= link_to "Go back", root_path, class: "secondary-link" %>
        </div>
      </div>
    </div>
  </div>
</div>
