<div class="flex flex-col items-start px-4">
  <div class="flex justify-center pt-8 w-full h-full bg-gray-50">
    <div class="flex flex-col items-center w-full max-w-4xl bg-white rounded-lg border border-gray-200 shadow-md lg:w-4/5">
      <div class="p-8 w-full h-full">

        <h1 class="log-in-header">Update card</h1>
        <div class="mt-4 mb-8 w-full h-px bg-gray-200"></div>

        <% if current_user.card_last4? %>
          <div class="mb-8">
            <%= render partial: 'cards/preview' %>
          </div>
        <% end %>

        <%= form_with url: card_path, method: :patch, local: true, id: "payment-form", class: "w-full md:w-1/2", data: { setup_intent: @setup_intent.client_secret } do |form| %>
          <div class="flex flex-col flex-grow justify-start w-full">
            <%= render partial: 'cards/input_fields', locals: { form: form } %>
            <%= render partial: 'cards/input_submit', locals: { form: form, submit_text: "Update card" } %>
          </div>
        <% end %>
        <br />
        <%= link_to "Go back", subscription_path, class: "secondary-link" %>
      </div>
    </div>
  </div>
</div>
