<div class="px-10 w-full">
  <div class="flex justify-between items-center mb-4 w-full">
    <h1 class="text-xl font-medium text-gray-900">
      Feedback
    </h1>
  </div>
  <% if @task_run_feedbacks.any? %>
    <div class="overflow-scroll bg-white rounded-lg border border-gray-200 shadow-sm">
      <table class="w-full divide-y divide-gray-200">
        <thead class="bg-gray-100">
          <tr class="text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
            <th class="py-3 px-6">Input</th>
            <th class="py-3 px-6">Results</th>
            <th class="py-3 px-6">Rating</th>
            <th class="py-3 px-6">Comment</th>
            <th class="py-3 px-6">User</th>
            <th class="py-3 px-6">Created at</th>
          </tr>
        </thead>

        <tbody class="divide-y divide-gray-200">
          <% @task_run_feedbacks.each do |feedback| %>
            <tr class="text-xs">
              <td class="py-3 pl-6"><%= feedback.task_run.input_object.input_text %></td>
              <td class="py-3 px-6"><%= simple_format(feedback.task_run.task_results.map(&:result_text).join("\n---\n")) %></td>
              <td class="py-3 px-6"><%= stars_for(feedback.score) %></td>
              <td class="py-3 px-6"><%= feedback.comment %></td>
              <td class="py-3 px-6"><%= feedback.user.email %></td>
              <td class="py-3 px-6"><%= format_table_date(feedback.created_at) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <p>No feedback received.</p>
  <% end %>
  <br />
  <%== pagy_nav(@pagy) %>
</div>

